*~
log/
replays/
s2gs/
devcache/*.depot.battle.net

config/redis.yml
config/esdb.yml
config/database.yml
config/fog.rb
config/s3.yml
config/ey_services_config_local.yml
config/tokens.yml
config/secrets.yml
cookbooks

esdb_scan
journal.txt

.bundle
